.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .cart {
    border-radius: 10px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      cursor: pointer;
    }
  }

  .title {
    font-weight: bold;
  }
  .input-group{
    max-width: 100%;
    margin: 0 auto;
  }
  .input-search{
    border-radius: 60px;
    border-color: rgb(12, 176, 218);
    border-width: 1px;

  }
  .icon-search{
    border-radius: 50px;
    background-color: rgb(12, 176, 218);
    color: rgb(255, 255, 255);
  }
}

@media (min-width: 992px) {
  .header {
    .cart {
      &:hover {}
    }
    .title {

      font-size: 2.5rem;
    }
    .input-group{
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
