.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .cart {
    border-radius: 10px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      cursor: pointer;
    }
  }

  .title {
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .header {
    .cart {
      &:hover {}
    }
    .title {

      font-size: 2.5rem;
    }
  }
}
