.sub-navbar {
  .sub-navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100vw;
    height: auto;
    padding: 0.5rem;
    color: white;
    background: rgba(255, 255, 255, 0.13);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1.5px solid rgba(209, 213, 219, 0.171);
  }
  .nav-link{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
  }
}
